* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
h1 {
    margin-left: 35%;
    color: rgb(15, 70, 151);
    font-size: 40px;
    margin-top: 10%;
}
.form-control {
    margin-left: 35%;
    height: 35px;
    width: 30%;
    margin-top: 2%;
}
.form-control:focus{
    outline: none;
}
.addBtn {
    margin-left: 15px;
    padding: 8px;
    width: 70px;
    background-color: rgb(56, 121, 218);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.delete {
    margin-left: 1%;
    padding: 8px;
    width: 70px;
    background-color: rgb(231, 27, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.edit {
    padding: 8px;
    width: 70px;   
    margin-left: 23%;
    margin-top: 2%;
    background-color: rgb(3, 163, 75);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.list-group-item {
    margin-left: 35%;
    font-size: 25px;
    overflow-wrap: break-word;
}
